#elementor-panel-elements-wrapper .elementor-element .icon {
	position: relative;
}

#elementor-panel-elements-wrapper .elementor-element .icon i.sodathemes-badge::after {
	content: 'Sodalicious';
	position: absolute;
	top: 3px;
	right: 3px;
	padding: 2px 2px 1px;
	font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
	font-size: 9px;
	line-height: 1;
	color: #fff;
	background-color: #000;
	border-radius: 2px;
	z-index: 1;
}